tensorflow  == 2.2.0
Keras == 2.4.3
Pandas == 1.0.5
Numpy == 1.19.1
Matplotlib == 3.3.0
Seaborn == 0.10.1
Yfinance == 0.1.54
scikit-learn == 0.23.1
scipy == 1.5.0
blinker == 1.4
streamlit == 1.11.1
click == 7.1.2
psutil == 5.6.6
